@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Gerais*/
:root {
    --ciano: rgb(13, 224, 224);
    --fundo: #ececec;
    --red: #b93030;
    --black: #0000;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background-color: #ececec;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-family: "Arial", sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}

a:hover {
    color: #ada3a3;
    opacity: .9;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

/* NavBar Header */

nav {
    top: 0;
    position: fixed;
    width: 100%;
    background: #241f1f;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 8vh;
    z-index: 5;
}

.home {
    font-size: 20px;
    margin-right: 110px;
}
  
.nav-list {
    align-items: center;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-right: 32px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
  
.nav-list.active {
    transform: translateX(0);
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      z-index: 5;
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #778899;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-top: 1px solid #708090;
      transform: translateX(100%);
      transition: 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        align-items: center;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
        margin-right: 5%;
    }
}

/* Hero */

#hero {
    width: 100%;
    height: 100vh;
    background: #1779be;

    align-items: center;
    justify-content: center;
    text-align: center;
}

#hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
  
.hero-container {
    position: relative;
    margin-top: 200px;
    z-index: 2;
    min-width: 300px;
}
  
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
  
#hero  span {
    color: var(--ciano);
    text-shadow: 0 0 12px var(--ciano);
    font-size: 27px;
    padding-bottom: 4px;
    letter-spacing: 1px;
}
  
@media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
}
  
@media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
}

/* About main */

#about {
    background-color: #ececec;
    padding-bottom: 5%;
    padding: 30px;
    height: 100vh;
}

.about h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.about h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    margin-left: 4px;
    bottom: 0;
    left: 0;
}

.about p {
    color: #000000;
    text-indent: 20px;
    margin: 8px;
    margin-bottom: 10px;
    text-align: justify;
}

.info1 {
    display: flex;
    margin-right: 0;
}

.info2 p {
    color: #000000;
    text-indent: 20px;
    margin: 8px;
    text-align: justify;
}

.img-about {
    margin-top: 8px;
    width: 700px;
    height: 380px;
}


/* Projects Main */

#projects {
    height: 100vh;
    padding: 30px;
    background-color: #ececec;
}

#projects h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

#projects h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    margin-left: 4px;
    bottom: 0;
    left: 0;
}

.proje{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.projetos{
    width: 280px;
    height: 190px;
    cursor: pointer;    
    border-radius: 5px;
    background-color: #1fabc1;
    transition: .5s ease;
}

.projetos img{
    width: 280px;
    height: 190px;
    border-radius: 5px;
}

.projetos:hover{
    transform: scale(1.01)
}
/* Footer Main*/

footer{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #241f1f;
}

footer p {
    color: #fff;
    font-size: 16px;
    padding-top: 23px;
    text-align: center;
    background: #241f1f;
}

.info-footer {
    display: flex;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

#footer_social_media {
    display: inline-flex;
    width: 250px;
    gap: 2rem;
    margin-left: 0;
    position: relative;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 60px;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
} 

#footer_social_media .footer-link:hover{
    color: #ada3a3;
    opacity: .9;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin{
    background-color: #4267b3;
}

#github{
   background-color: black; 
}

#email {
    background-color: #b33314;
}

#footer_social_media i {
    color: #fff;
}

/* Responsividade */

@media (max-width: 935px) {
    .hero-container h1 {
        text-align: center;
        margin-left: 5%;
    }

    .hero-container h3 {
        text-align: center;
        margin-left: 5%;
    }
}